```
# Database
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~
*.py.class
*.py.obj
*.py.out
*.py.dll
*.py.so
*.py.a
*.py.o
*.py.obj
*.py.out

# Django
*.log
*.pot
*.mo
MANIFEST
*.manifest
tags
*.swp
*.swo
*~
.project
.pydevproject
.DS_Store
Thumbs.db
```